# 构建产物
out/
build/

# Visual Studio 缓存
.vs/
CMakeSettings.json
CMakePresets.json

# 编译生成文件
*.exe
*.ilk
*.pdb
*.obj
*.lib
*.exp
*.dll
*.hdr

# CMake 缓存
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# 第三方库
thirdParty/

# 大文件（超过 GitHub 100MB 限制）
assets/hdr/
assets/model/



# 系统文件
Thumbs.db
Desktop.ini
.DS_Store
